#add-button {
  margin-bottom: 20px;
  margin-right: 20px;
}

.remote-content{
  min-height: 250px;
  max-width: 700px;
}

.button {
  border: 1px solid #ddd;
  border-radius: 3px;
  cursor: pointer;
  display: table !important;
  color: #616161;
  .content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 24px;
    md-icon {
      color: #616161;
    }
  }
}

#preview-button {
  text-align: center;
  padding-bottom: 15px;
  #preview-button-content {
    display: inline-block;
    .button {
      width: 200px;
      height: 70px;
    }
  }
}