md-content.addButtonDialog(layout-padding)
  md-grid-list(md-cols-gt-md="6" md-cols="3" md-cols-md="4" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter-gt-md="16px" md-gutter-md="8px" md-gutter="4px")
    md-grid-tile.button.md-whiteframe-1dp(ng-repeat="key in adminLiveboxRemote.livebox.keys") {{ key.label }}