md-sidenav.md-sidenav-right(md-component-id="add-button-sidenav")
  md-toolbar.md-theme-light
    h1 Ajouter un bouton
  md-content

md-button#add-button.md-fab.md-primary(aria-label="Ajouter un bouton")
  md-tooltip(md-direction="left") Ajouter un nouveau bouton
  md-icon.material-icons add