md-dialog.addButtonDialog(aria-label="Ajout un bouton de type Livebox" ng-cloak)
  md-toolbar
    .md-toolbar-tools
      h2 Ajouter un bouton à cette télécommande
      span(flex)
      md-button.md-icon-button(ng-click="adminLiveboxRemote.cancel()")
        md-icon.material-icons close
  md-dialog-content
    .md-dialog-content
      md-grid-list(md-cols-gt-md="6" md-cols="2" md-cols-md="3" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter-gt-md="16px" md-gutter-md="8px" md-gutter="4px")
        md-grid-tile.button(ng-repeat="key in adminLiveboxRemote.livebox.keys" ng-click="adminLiveboxRemote.addButton(key)")
          div.label(ng-if="!key.icon") {{ key.label }}
          md-icon.material-icons(ng-if="key.icon") {{ key.icon }}
          md-tooltip(md-direction="bottom") {{ key.label }}